---
const Tarjeta = 'div';
const Container = 'div';

export interface Props {
    nombre: string;
    ocupacion?: string;
    avatar?: boolean;
}
const { nombre, ocupacion = 'Sin definir', avatar = false } = Astro.props;

---
<script>
    const button=document.getElementById('btn')
    button?.addEventListener('click',()=>{
        alert('hola')
    })

</script>
<button id="btn">BUTTO</button>
<Tarjeta class='card'>
    <img
        src={avatar
            ? 'images/miniature-3365503_1280.jpg'
            : 'images/woman-1245817_1280.jpg'}
        alt='img-1'
        style='width: 100%;'
    />
    <Container class='container'>
        <h4>{nombre}</h4>
        <p>{ocupacion}</p>
        <slot name='desc'>
            <p>Contenido de la descripcion</p>
        </slot>
    </Container>
</Tarjeta>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
        transition: 0.3s;
        margin-left: 50px;
        width: 15%;
        margin-bottom: 15px;
        padding: 20px;
        color: aliceblue;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    }

    .container {
        padding: 2px 16px;
    }
</style>
